# Ignore all
*
# Unignore all with extensions - ignoring files without extension
!*.*
# ignore all .o
*.o
# Ignore all dirs
*/
# Ignore all .out
*.out
# Ignore all assembly
*.s
# Ignore all exe
*.exe
# Unignore images
!*Images
# Unignore src
!*src
# Unignore gui
!*gui
# Unignore doc
!*documentation